body, h1, h2, p {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inclusive Sans', sans-serif;
  font-size: medium;
  line-height: normal;
}

header {
  background-color: #5e8747;
  color: white;
  text-align: center;
  padding: 1rem;
  position: sticky
}

/* img {
  position: absolute;
  right: 0px;
  float: right;
  border-radius: 16px;
  border: 5px solid #a85959;
  scale: 0.3;
} */

/* img {
  box-sizing: border-box;
  float: right;
  width: auto
  height: auto;
} */

#portrait {
  float: inline-end;
  transform: scale(0.3);
  border: #5e8747;
  border-radius: 50%;
}

img.inline.* {
  display: inline;
  float: inline-end;
  transform: scale(0.3);
}

/* .right{
  float: right;
} */