body, h1, h2, p {
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 20px;
}

body {
  font-family: 'Inclusive Sans', sans-serif;
  font-size: medium;
  line-height: normal;
}

main {
  margin: 0 auto;
  padding: 2rem;
  max-width: 850px;
}

h1 {
  padding-top: 1rem;
  margin-bottom: 0.2rem;
}

h2 {
  padding-top: 0.5rem;
}

p {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #5e8747;
  color:#000;
  text-align: center;
  padding: 1rem;
  position: sticky
}

.portrait {
  display: flex;
  justify-content: right;
}

.column {
  float: left;
  width: 25%;
}

.kontakt {
  display: flex;
  flex-direction: column;
}

.p-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.center {
  display: flex;
  justify-content: center;
}
